/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
*/

h2 {
  text-decoration: underline;
}

.product {
  border-bottom: 1px solid #bbb;
}

.share-button {
  margin: 10px;
}
